@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $acc-darkgold
  color: #fff

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1
  font-family: $default-font
  overflow-x: hidden
  color: $text
  letter-spacing: 0.05em
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $acc-darkgold
  text-decoration: none
  +mt(.3s)

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======
.svg
  +mt(.3s)

.btn
  display: inline-block
  white-space: nowrap
  line-height: 1
  cursor: pointer
  font-weight: 700
  font-family: "NotoSerif", sans-serif
  padding: 10px 20px
  border: 2px solid $acc-darkgold
  border-image: linear-gradient(45deg, $acc-darkgold 0, $acc-lightgold 25%, $acc-darkgold 50%, $acc-lightgold 75%, $acc-darkgold 100%) 2
  color: $text
  +mt(0s)
  &:hover
    background-image: linear-gradient(to top, $acc-lightgold 0, $acc-darkgold 100%)
    border-image: linear-gradient(to top, $acc-lightgold 0, $acc-darkgold 100%) 2
  &.disabled
    background-image: linear-gradient(to top, $acc-lightgold 0, $acc-darkgold 100%)
    border-image: linear-gradient(to top, $acc-lightgold 0, $acc-darkgold 100%) 2
    pointer-events: none
    filter: grayscale(.6)


form
  input
    &.error
      border-color: red!important
      color: red!important
      &::placeholder
        color: red!important
  .help-block
    display: none


.popup-form
  width: 945px
  margin: 0 auto
  background-color: #fff
  display: flex
  &-img
    width: 425px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &-content
    width: calc(100% - 425px)
    padding: 60px 70px 70px
  h2
    font-family: "NotoSerif", sans-serif
    font-weight: normal
    font-size: 24px
    text-transform: uppercase
    margin-bottom: 16px
  .form-desc
    color: #656565
    margin-bottom: 37px
    line-height: 1.2
  label
    display: block
    position: relative
  input
    width: 100%
  .form-labels-wrap
    box-shadow: 0 0 15px 5px rgba(#000, .05)
    margin-bottom: 25px
    label
      margin-bottom: 0
      &:first-child
        input
          border-bottom: none
      span
        position: absolute
        top: 17px
        left: 20px
        font-size: 12px
        color: #656565
        font-weight: 100
    input
      font-size: 14px
      background-color: #fff
      border: 1px solid #e8e8e8
      padding: 40px 20px 15px
      &::placeholder
        color: $text
  .label-checkbox
    display: flex
    justify-content: space-between
    align-items: flex-start
    margin-bottom: 33px
    span
      width: calc(100% - 24px)
      font-size: 10px
      font-weight: 300
      color: #b2b2b2
      line-height: 1.6
  .jq-checkbox
    width: 12px
    height: 12px
    border: 1px solid #e8e8e8!important
    border-radius: 0
    background: transparent
  .jq-checkbox.checked .jq-checkbox__div
    margin-left: 1px
    border-bottom-color: #b2b2b2
    border-left-color: #b2b2b2
  .btn
    padding-left: 35px
    padding-right: 35px
    background-color: #fff



//MY_MFP_ZOOM_IN
.my-mfp-zoom-in
  .zoom-anim-dialog, .popup-form, .video-popup
    opacity: 0
    transition: all 0.5s ease-in-out
    transform: scale(0.7)
  &.mfp-ready .zoom-anim-dialog, &.mfp-ready .popup-form, &.mfp-ready .video-popup
    opacity: 1
    transform: scale(1)
  &.mfp-removing .zoom-anim-dialog, &.mfp-removing .popup-form, &.mfp-removing .video-popup
    transform: scale(0.7)
    opacity: 0
  &.mfp-bg
    opacity: 0
    transition: opacity 0.5s ease-out
  &.mfp-ready.mfp-bg
    opacity: .8
  &.mfp-removing.mfp-bg
    opacity: 0


//preloader
.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10000
  display: flex
  justify-content: center
  align-items: center
  background-color: #e7e7e7

.sk-folding-cube
  width: 4em
  height: 4em
  position: relative
  margin: auto
  transform: rotateZ(45deg)


.sk-folding-cube .sk-cube
  float: left
  width: 50%
  height: 50%
  position: relative
  transform: scale(1.1)

.sk-folding-cube .sk-cube:before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $acc-darkgold
  animation: sk-folding-cube-angle 2.4s infinite linear both
  transform-origin: 100% 100%

.sk-folding-cube .sk-cube-2
  transform: scale(1.1) rotateZ(90deg)

.sk-folding-cube .sk-cube-3
  transform: scale(1.1) rotateZ(180deg)

.sk-folding-cube .sk-cube-4
  transform: scale(1.1) rotateZ(270deg)

.sk-folding-cube .sk-cube-2:before
  animation-delay: 0.3s

.sk-folding-cube .sk-cube-3:before
  animation-delay: 0.6s

.sk-folding-cube .sk-cube-4:before
  animation-delay: 0.9s


@-webkit-keyframes sk-folding-cube-angle
  0%, 10%
    transform: perspective(140px) rotateX(-180deg)
    opacity: 0

  25%, 75%
    transform: perspective(140px) rotateX(0deg)
    opacity: 1

  90%, 100%
    transform: perspective(140px) rotateY(180deg)
    opacity: 0

@keyframes sk-folding-cube-angle
  0%, 10%
    transform: perspective(140px) rotateX(-180deg)
    opacity: 0

  25%, 75%
    transform: perspective(140px) rotateX(0deg)
    opacity: 1

  90%, 100%
    transform: perspective(140px) rotateY(180deg)
    opacity: 0