@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1500px)

  .main-head
    .btn


  .s-nopage
    .clouds
      transform: scale(.6)
      bottom: -50px
      left: -700px
    h1
      font-size: 180px
    h2
      font-size: 20px

  .nopage-content
    &:before, &:after
      height: 250px
      width: 125px
      top: -20px
    &:before
      left: -80px
    &:after
      right: -80px

// ≥1200px
+media-breakpoint-down(lg)

  .s-nopage
    .clouds
      display: none

  .contacts-block
    left: calc((100vw - 960px)/2)

  .section-form
    &:before
      left: -150px
    &:after
      right: -150px

  .product-item
    padding: 20px 25px
    &-img
      height: 220px
    &-bottom
      padding-right: 0
    .btn
      padding-left: 20px
      padding-right: 20px

  .cat-item
    &-title
      font-size: 18px
    &-img
      height: 260px

  .intro-img
    height: 550px

  .intro-notice
    padding: 20px 40px 20px 20px
    font-size: 22px

  .s-intro
    .clouds
      bottom: -527px
      left: -745px

  .main-mnu
    padding-left: 0
    font-size: 14px
    &:before
      display: none
    li
      margin-right: 60px
      &:after
        width: 30px
        height: 2px
        right: -45px

  .top-infos-wrap, .top-phones-wrap
    display: block

  .top-phone
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    .svg
      top: -3px
      position: relative
      width: 16px
      margin-right: 8px

  .top-info
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    .svg
      top: -3px
      position: relative
      width: 20px
      margin-right: 8px

  .topline
    justify-content: space-between




// ≥992px
+media-breakpoint-down(md)

  .subcat-item
    &-title
      font-size: 18px
    &-img
      height: 240px

  .breadcrumbs
    padding: 20px 0 30px

  .page-title
    margin-bottom: 30px

  .s-cat.p-cat
    .clouds
      left: -700px

  .nopage-content
    &:before
      left: -40px
    &:after
      right: -40px

  .popup-form
    max-width: 760px
    width: 100%
    &-img
      width: 300px
    &-content
      width: calc(100% - 300px)
      padding: 30px 40px

  .contacts-block
    left: calc((100vw - 720px)/2)

  .section-form
    width: 480px
    h2
      font-size: 20px

  .cat-items-wrap
    grid-template-columns: repeat(2, 1fr)

  .cat-notice
    font-size: 12px
    padding-top: 7px
    padding-bottom: 7px

  .intro-content
    padding-top: 50px
    h1
      font-size: 36px

  .intro-img
    height: 450px

  .advantages-wrap
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px

  .hamburger
    display: block

  .top-infos-wrap
    display: none

  .top-phones-wrap
    display: none

  .mnu-line
    display: none

  .topline
    border-bottom: none
    padding-bottom: 0

  .main-head
    .container
      align-items: flex-start

  .top-right-wrap
    margin-left: auto

// ≥768px
+media-breakpoint-down(sm)

  .popup-form
    &-img
      display: none
    &-content
      width: 100%

  #map
    height: 400px

  .contacts-gradient
    display: none

  .contacts-block
    position: relative
    left: 0
    top: 0
    transform: unset
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px 0

  .section-form
    width: 100%
    max-width: 480px
    &:before, &:after
      display: none
    .form-content
      width: 100%


  .main-head
    padding-top: 15px
    .container
      align-items: center

  .head-logo-container
    width: 100px

  .head-content
    width: calc(100% - 115px)

// ≥480px
+media-breakpoint-down(xs)

  .s-subcat
    padding-bottom: 70px

  .subcat-item
    &-img
      height: 180px

  .page-title
    font-size: 24px

  .nopage-content
    &:before, &:after
      display: none

  .s-nopage
    h1
      font-size: 140px
      line-height: 1
      margin-bottom: 0
    h2
      font-size: 18px

  .popup-form
    &-content
      padding-top: 35px
      padding-bottom: 35px

  .s-form
    padding: 50px 0

  .s-cat
    padding-bottom: 40px

  .slider-wrap
    margin-bottom: 40px

  .slider-title
    font-size: 24px
    margin-bottom: 15px

  .products-slider
    margin: 0 auto
    width: calc(100% - 30px)

  .cat-items-wrap
    grid-template-columns: repeat(1, 1fr)

  .intro-content
    h1
      font-size: 28px

  .intro-img
    height: 360px

  .intro-notice
    padding: 15px 30px
    font-size: 18px

  .advantages-wrap
    grid-template-columns: repeat(2, 1fr)


@media (max-width: 390px)

  .subcat-items-wrap
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 50px

  .popup-form
    h2
      font-size: 20px
      text-align: center
    .form-desc
      font-size: 14px
      margin-bottom: 20px
      text-align: center
    &-content
      padding-left: 15px
      padding-right: 15px
    .btn-wrap
      text-align: center


  #map
    height: 300px

  .s-form
    h2
      font-size: 18px


  .product-item
    &-img
      height: 170px
      margin-bottom: 20px
    &-title
      font-size: 16px
    &-desc
      font-size: 12px
    &-price
      font-size: 14px
    .btn
      font-size: 14px
      padding: 8px 15px

  .intro-content
    h1
      font-size: 22px

  .intro-img
    height: 280px

  .intro-notice
    padding: 10px 15px
    font-size: 14px

  .hamburger
    margin-left: 10px

  .top-cart
    .span
      font-size: 14px
      margin-bottom: 3px
    .sum
      font-size: 10px
    .svg
      width: 30px
      margin-right: 10px
    &-content
      width: calc(100% - 40px)


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
