@import vars


/*==========  Desktop First  ==========*/

@media (max-width: 1500px)

  .s-nopage
    .clouds
      transform: scale(.6)
      bottom: -50px
      left: -700px
    h1
      font-size: 180px
    h2
      font-size: 20px

  .nopage-content
    &:before, &:after
      height: 250px
      width: 125px
      top: -20px
    &:before
      left: -80px
    &:after
      right: -80px

// ≥1200px
+media-breakpoint-down(lg)

  .cart-item
    &-info
      padding-left: 15px

  .s-more-wrap
    padding-right: 315px

  .about-content
    width: 500px

  .number-item
    &-number
      font-size: 20px
      span
        font-size: 60px
    &-desc
      font-size: 22px
      line-height: 1.2
    &:after
      right: -59px

  .product
    &-left
      width: 50%
    &-right
      width: 50%
    &-title
      font-size: 24px
    &-price
      font-size: 24px
    &-atribute
      span
        width: 40%
      .jq-selectbox
        width: 60%

  .s-nopage
    .clouds
      display: none

  .contacts-block, .s-contacts .breadcrumbs
    left: calc((100vw - 960px)/2)

  .section-form
    &:before
      left: -150px
    &:after
      right: -150px

  .product-item
    padding: 20px 25px
    &-img
      height: 220px
    &-bottom
      padding-right: 0
    .btn
      padding-left: 20px
      padding-right: 20px

  .cat-item
    &-title
      font-size: 18px
    &-img
      height: 260px

  .intro-img
    height: 550px

  .intro-notice
    padding: 20px 40px 20px 20px
    font-size: 22px

  .s-intro
    .clouds
      bottom: -527px
      left: -745px

  .main-mnu
    padding-left: 0
    font-size: 14px
    &:before
      display: none
    li
      margin-right: 60px
      &:after
        width: 30px
        height: 2px
        right: -45px

  .top-infos-wrap, .top-phones-wrap
    display: block

  .top-phone
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    .svg
      top: -3px
      position: relative
      width: 16px
      margin-right: 8px

  .top-info
    margin-bottom: 10px
    &:last-child
      margin-bottom: 0
    .svg
      top: -3px
      position: relative
      width: 20px
      margin-right: 8px

  .topline
    justify-content: space-between




// ≥992px
+media-breakpoint-down(md)


  .cart-top
    display: none

  .cart-item
    padding-bottom: 20px
    &-info
      padding-left: 0
      flex: 1
    &-img
      width: 100px
      height: 100px
      padding: 0
    &-content
      width: calc(100% - 110px)
    &-title
      font-size: 16px
    &-desc
      font-size: 14px
    &-price, &-total
      font-size: 16px
      width: 120px
    &-mount
      width: 120px
      input
        width: 40px


  .s-more-wrap
    padding-right: 115px

  .s-about
    padding-bottom: 100px

  .about-wrap
    max-width: 690px
    margin-left: auto
    margin-right: auto
    flex-direction: column-reverse
    margin-bottom: 100px

  .about-img
    width: 100%

  .about-content
    width: 100%
    margin-bottom: 40px
    margin-left: 0

  .number-item
    width: calc(33.333% - 20px)
    &:after
      display: none

  .catalog
    grid-template-columns: repeat(2, 1fr)

  .product
    &-left
      display: none
    &-right
      width: 100%
      padding-left: 0
    &-slider-mobile
      display: block
    &-slider
      width: 100%
      margin-bottom: 20px
    &-slider-nav
      display: grid
      grid-template-columns: repeat(4, 1fr)
      width: 100%
      grid-gap: 20px
      margin-bottom: 40px
    &-title
      margin-bottom: 10px
    &-price
      margin-bottom: 20px

  .subcat-item
    &-title
      font-size: 18px
    &-img
      height: 240px

  .breadcrumbs
    padding: 20px 0 30px

  .page-title
    margin-bottom: 30px

  .s-cat.p-cat
    .clouds
      left: -700px

  .nopage-content
    &:before
      left: -40px
    &:after
      right: -40px

  .popup-form
    max-width: 760px
    width: 100%
    &-img
      width: 300px
    &-content
      width: calc(100% - 300px)
      padding: 30px 40px

  .contacts-block, .s-contacts .breadcrumbs
    left: calc((100vw - 720px)/2)

  .section-form
    width: 480px
    h2
      font-size: 20px

  .cat-items-wrap
    grid-template-columns: repeat(2, 1fr)

  .cat-notice
    font-size: 12px
    padding-top: 7px
    padding-bottom: 7px

  .intro-content
    padding-top: 50px
    h1
      font-size: 36px

  .intro-img
    height: 450px

  .advantages-wrap
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 30px

  .hamburger
    display: block

  .top-infos-wrap
    display: none

  .top-phones-wrap
    display: none

  .mnu-line
    display: none

  .topline
    border-bottom: none
    padding-bottom: 0

  .main-head
    .container
      align-items: flex-start

  .top-right-wrap
    margin-left: auto

// ≥768px
+media-breakpoint-down(sm)

  .s-cart
    padding-bottom: 50px

  .cart-bottom
    flex-direction: column-reverse
    .btn
      width: 280px
      margin-bottom: 30px
      text-align: center

  .cart-item
    flex-wrap: wrap
    padding: 20px
    justify-content: flex-start
    &-total
      margin-left: 30px
      text-align: left
      font-size: 18px
      width: calc(100% - 150px)
    &-info
      width: 100%
      flex: auto
      margin-bottom: 20px
    &-price
      display: none

  .s-more-wrap
    padding-right: 0

  .number-item
    &-number
      font-size: 16px
      span
        font-size: 40px
    &-desc
      font-size: 18px

  .about-wrap
    padding: 0 15px

  .about-img
    height: 400px

  .catalog
    grid-template-columns: repeat(1, 1fr)

  .product-slide
    height: 360px
  .product-nav
    background-origin: content-box
    padding: 10px

  .s-contacts
    .breadcrumbs
      left: 15px

  .popup-form
    &-img
      display: none
    &-content
      width: 100%

  #map
    height: 400px

  .contacts-gradient
    display: none

  .contacts-block
    position: relative
    left: 0
    top: 0
    transform: unset
    width: 100%
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    padding: 20px 0

  .section-form
    width: 100%
    max-width: 480px
    &:before, &:after
      display: none
    .form-content
      width: 100%


  .main-head
    padding-top: 15px
    .container
      align-items: center

  .head-logo-container
    width: 100px

  .head-content
    width: calc(100% - 115px)

// ≥480px
+media-breakpoint-down(xs)

  .cart-item
    &-del
      top: 10px
      right: 10px

  .about-img
    height: auto
    img
      object-fit: unset
      width: 100%
      max-width: 100%
      height: auto

  .number-block
    flex-direction: column

  .number-item
    width: 100%
    margin-bottom: 60px
    &:last-child
      margin-bottom: 0
    &-number
      font-size: 20px
      span
        font-size: 60px
    &-desc
      font-size: 20px

  .s-catalog
    padding-bottom: 50px

  .filters
    font-size: 14px
    span
      margin-right: 10px

  .filter
    margin-right: 22px

  .product
    &-slide
      height: 280px
      padding: 20px
    &-slider
      margin-bottom: 10px
    &-slider-nav
      grid-gap: 10px
    &-nav
      height: 75px
    .amount-wrap
      button
        width: 36px
        height: 36px
      input
        width: 40px
    .btn
      font-size: 13px
    &-tabs-controls
      li
        font-size: 16px
        margin-right: 30px

  .par-item
    font-size: 12px
    padding-left: 10px
    padding-right: 10px

  .s-product
    padding-bottom: 50px

  .s-similars
    padding-bottom: 50px




  .s-subcat
    padding-bottom: 70px

  .subcat-item
    &-img
      height: 180px

  .page-title
    font-size: 24px

  .nopage-content
    &:before, &:after
      display: none

  .s-nopage
    h1
      font-size: 140px
      line-height: 1
      margin-bottom: 0
    h2
      font-size: 18px

  .popup-form
    &-content
      padding-top: 35px
      padding-bottom: 35px

  .s-form
    padding: 50px 0

  .s-cat
    padding-bottom: 40px

  .slider-wrap
    margin-bottom: 40px

  .slider-title
    font-size: 24px
    margin-bottom: 15px

  .products-slider
    margin: 0 auto
    width: calc(100% - 30px)

  .cat-items-wrap
    grid-template-columns: repeat(1, 1fr)

  .intro-content
    h1
      font-size: 28px

  .intro-img
    height: 360px

  .intro-notice
    padding: 15px 30px
    font-size: 18px

  .advantages-wrap
    grid-template-columns: repeat(2, 1fr)


@media (max-width: 390px)

  .cart-item
    padding: 30px 20px
    text-align: center
    &-info
      flex-direction: column
    &-img
      width: 100%
      height: 180px
      margin-bottom: 15px
    &-content
      width: 100%
    &-mount
      width: 100%
      margin-bottom: 30px
    &-total
      width: 100%
      text-align: center
      margin-left: 0

  .filters
    font-size: 13px

  .product
    &-title
      font-size: 20px
    &-price
      font-size: 18px
    &-nav
      height: 60px
      padding: 5px
    &-slider-nav
      margin-bottom: 20px
    &-atribute
      flex-direction: column
      span
        width: 100%
        display: inline-block
        margin-bottom: 10px
      .jq-selectbox
        width: 100%
    &-bottomline
      flex-direction: column
      margin-top: 30px
      .amount-wrap
        margin-bottom: 30px

  .subcat-items-wrap
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 50px

  .popup-form
    h2
      font-size: 20px
      text-align: center
    .form-desc
      font-size: 14px
      margin-bottom: 20px
      text-align: center
    &-content
      padding-left: 15px
      padding-right: 15px
    .btn-wrap
      text-align: center


  #map
    height: 300px

  .s-form
    h2
      font-size: 18px


  .product-item
    &-img
      height: 170px
      margin-bottom: 20px
    &-title
      font-size: 16px
    &-desc
      font-size: 12px
    &-price
      font-size: 14px
    .btn
      font-size: 14px
      padding: 8px 15px

  .intro-content
    h1
      font-size: 22px

  .intro-img
    height: 280px

  .intro-notice
    padding: 10px 15px
    font-size: 14px

  .hamburger
    margin-left: 10px

  .top-cart
    .span
      font-size: 14px
      margin-bottom: 3px
    .sum
      font-size: 10px
    .svg
      width: 30px
      margin-right: 10px
    &-content
      width: calc(100% - 40px)


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
